<html>
  <head>
    <link rel="stylesheet" href="stylesheets/fileUpload.css">
  </head>
  <body>
    <div>
      <h2>Click on 'Select Image' Button, Grab the Image And Click Submit</h2>
      
      <form action="/fileUpload" method='POST' enctype="multipart/form-data">
        <p class="file">
          <input type="file" name="image" id="file" />
          <label for="file">Upload your image</label>
        </p>
        <input type="submit">
      </form>

      <br>

      <form action="/auth/logout">
        <input type="submit" value="Logout">
      </form>
      
    </div>
  </body>
</html>