<div>
    <table>
      <% for(var i=0; i < images.length; i++) { %>
         <tr>
           <img src='<%= images[i].imagePath %>' alt="not found">
         </tr>
      <% } %>
      </table>
  </div>